.emptyGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  overflow-y: hidden;
  padding-bottom: 0.5rem;
}

.emptyGrid p {
  color: var(--color-chocolate);
  font-style: italic;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}
